# Deep Learning
tensorflow
torch
transformers
huggingface-hub

# ML
scikit-learn
xgboost
lightgbm
catboost
optuna 
alphapy

# Data Analysis
numpy
pandas
matplotlib
seaborn
jupyter
polars
plotly
dash
streamlit
fastapi
pydantic 
dask

# Flow
mlflow
wandb

# Notebook
jupyterlab 
jupyter-black 
ipywidgets 
